.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.success-btn {
  background-color: green;
}

.error-btn {
  background-color: red;
}

.info-btn {
  background-color: orange;
}
.warning-btn {
  background-color: blue;
}

.toast {
  width: 250px;
  background-color: green;
  padding: 1rem;
  color: white;
  border-radius: 30px;
  position: relative;
  animation: slide 1s 1;
  span {
    position: absolute;
    right: 0.5rem;
  }
  margin: 10px;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

.info {
  background-color: orange;
}

.warning {
  background-color: blue;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

button {
  margin: 8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: white;
}

span,
button {
  cursor: pointer;
}
